
<div class="mdl-layout mdl-js-layout " >


  <main class="mdl-layout__content">
    <div class="page-content" >
    <!--  input post /-->
      <div class="acme-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Post to DB Table</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <form action="#" >
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" id="postinput">
              <textarea ng-model="main.message" class="mdl-textfield__input" type="text" rows= "1" id="" ></textarea>
              <label class="mdl-textfield__label" for="sample5">post..</label>
            </div>
          </form>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="main.postMessage()">
            Tweet
          </a>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="main.getMessages()">
            refresh
          </a>
        </div>
        
      </div>

        <!--  input post /-->
    </div>
   <div class="mdl-layout__content" style="display: table;">
    <div ng-repeat="tweet in main.messages" class="demo-card-wide mdl-card mdl-shadow--2dp" style="margin: 10px; height: 100% !important;min-height: 107px !important; display: flex;">
  
      <div class="mdl-card__supporting-text">
        {{tweet.text}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        Follow:
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet.user.username}} " ng-click="main.follow(tweet.user.username)">
          {{tweet.user.username}} 
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>

        <a  ng-show="tweet.retweet" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet.retweet}} " ng-click="main.follow(tweet.retweet)">
           {{tweet.retweet}} [OP]
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
        <a  ng-show="main.deletecheck()==tweet.user.username" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet._id}} " ng-click="main.deletemessage(tweet._id)" style="color:red">
           delete
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet}}" ng-click="main.retweet(tweet)">
          <i style="color:green" class="material-icons">share</i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(16px, 26px);"></span></span></button>
      </div>
    
    </div>
    </div>


    <div class="mdl-layout__content" style="display: table;">
    <h1>Tweets from Users I Follow:</h1>
    <div ng-repeat="tweet in main.followermessages" class="demo-card-wide mdl-card mdl-shadow--2dp" style="margin: 10px; height: 100% !important;min-height: 107px !important; display: flex;">
  
      <div class="mdl-card__supporting-text">
        {{tweet.text}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        Follow:
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet.user.username}} " ng-click="main.follow(tweet.user.username)">
          {{tweet.user.username}} 
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>

        <a  ng-show="tweet.retweet" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet.retweet}} " ng-click="main.follow(tweet.retweet)">
           {{tweet.retweet}} [OP]
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
        <a  ng-show="main.deletecheck()==tweet.user.username" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet._id}} " ng-click="main.deletemessage(tweet._id)" style="color:red">
           delete
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple" data="{{tweet}}" ng-click="main.retweet(tweet)">
          <i style="color:green" class="material-icons">share</i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(16px, 26px);"></span></span></button>
      </div>
    
    </div>
    </div>

  </main>






  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__right-section">
      <div class="mdl-logo">
        Made With ♥ for 6.170
      </div>
    </div>
  </footer>

</div>
