html, body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
}

a {
  color: #00B7FF;
}

#submit-button {
  margin-top: 10px;
  color: white;
  background-color: #00008B;
  border-color: black;
  border-width: 3px;
}

#submit-button:hover {
  opacity: 0.7;
}



